<!doctype html>
<html>
<head>
    {{template "commonMeta.html" .}}
    <title>Gin 登录页面</title>
    {{template "commonCss.html" .}}
    <link rel="stylesheet" href="/static/css/login.css" media="all">
</head>
<body>
    <div class="pane-header">
        <img src="/static/image/logo.png" />
    </div>
    <div id="pane">
        <form class="layui-form zyl_pad_01" action="/page/auth/login" method="POST">
            <div class="pane-content">
                <div class="userpwd">
                    <img th:src="/static/image/icon_lxr.png" />
                    <input placeholder="请输入账号" name="username" lay-verify="required|username" autocomplete="off" />
                </div>
                <div class="userpwd">
                    <img th:src="/static/image/icon_password.png" />
                    <input placeholder="请输入密码" type="password" name="password" lay-verify="required|pass"
                        autocomplete="off" />
                </div>
                <button class="login-btn" lay-submit="" lay-filter="login">登&nbsp;录</button>
            </div>
        </form>
    </div>
</body>
{{template "commonJs.html" .}}
<script>

</script>
</html>